<section class="footer full-width">
    <div class="container">
        <div class="row">
            <div class="full-width">
                <div class="row">
                    <div class="full-width">
                        <div class="col-sm-12 col-md-3">
                            <div class="full-width footer-links">
                                <h4>Sevices</h4>
                                <ul class="full-width">
                                    <li>
                                        <a href="javascript:void(0)">
                                            Groceries
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            Food from restaurant
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            Medicare
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            Gifts
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-3">
                            <div class="full-width footer-links">
                                <h4>Sevices</h4>
                                <ul class="full-width">
                                    <li>
                                        <a href="javascript:void(0)">
                                            Groceries
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            Food from restaurant
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            Medicare
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            Gifts
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-3">
                            <div class="full-width footer-links">
                                <h4>Sevices</h4>
                                <ul class="full-width">
                                    <li>
                                        <a href="javascript:void(0)">
                                            Groceries
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            Food from restaurant
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            Medicare
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            Gifts
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-3">
                            <div class="full-width footer-links">
                                <h4>Contact</h4>
                                <ul class="full-width address">
                                    <li>
                                        <i class="fas fa-home"></i>
                                        <address>1 1/2 Altamont Crescent Kingston 5</address>
                                    </li>
                                    <li>
                                        <i class="fas fa-envelope"></i>
                                        <a href="mailto:arrebeta.com.com">arrebeta.com</a>
                                    </li>
                                    <li>
                                        <i class="fas fa-phone"></i>
                                        <a href="tel:6202824886">6202824886</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>