/*Reset css start*/
ul{list-style-type: none;padding: 0;margin: 0;text-decoration: none;}
a{text-decoration: none;}
i{font-style: normal;}
h1,h2,h3,h4,h5,h6,body,p,input,span,form,header,figure,label,strong,bold{margin: 0;font-weight: normal;}
*{box-sizing: border-box;-webkit-box-sizing: border-box;-o-box-sizing: border-box;-moz-box-sizing: border-box;}
img{max-width: 100%;width: 100%;}
body{font-family: 'OpenSans-Regular';}
::-webkit-input-placeholder {opacity: 1; } ::-moz-placeholder {opacity: 1; } :-ms-input-placeholder {opacity: 1; } :-moz-placeholder {opacity: 1;}
::-webkit-input-placeholder {color: #5c5c5f;} ::-moz-placeholder {color: #5c5c5f;} :-ms-input-placeholder {color: #5c5c5f;} :-moz-placeholder {color: #5c5c5f;}
::-webkit-textarea-placeholder{font-size: 18px;}
input[type="email"]::-webkit-input-placeholder{color: #5c5c5f;}
input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration {display: none; }
button[type="submit"]::-webkit-input-placeholder{color: #5c5c5f;}
address{font-style: normal;}
select {-webkit-appearance: none; -moz-appearance: none; appearance: none;}
option {font-weight: normal; display: block; white-space: pre; min-height: 1.2em; padding: 0px 2px 1px; }
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover,.btn-default:hover{background-color: #fff !important;}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{outline: transparent;box-shadow: none;}
address{margin: 0;}
/*Reset css end*/

/* common css start */
    .full-width{float: left;width: 100%;}
    i{font-family: fontawesome;}
    h4{float: left;width: 100%;font-family: 'Nunito', sans-serif;font-weight: 900;font-size: 23px;line-height: 26px;margin-bottom: 20px;}
    ::selection,-moz-selection,-webkit-selection,-ms-selection,-moz-selection,-o-selection {color: #fff; background: #0757a2;}
    /* common css end */

/* footer css start */
    .footer{background-color: #0757a2;color: #fff;padding: 50px 0;}
    .footer-links ul li{float: left;width: 100%;margin-bottom: 10px;}
    .footer-links ul li a{float: left;width: auto;color: #fff;font-family: 'Nunito', sans-serif;font-weight: 400;font-size: 14px;line-height: 21px;}
    .footer-links ul li:last-child{margin-bottom: 0;}
    .address li i{display: inline-block;vertical-align: middle;font-size: 17px;width: 18px;line-height: 21px;}
    .footer-links .address address,.footer-links .address a{display: inline-block !important;vertical-align: middle !important;width: calc(100% - 20px) !important;font-size: 13px !important;line-height: 21px !important;padding-left: 8px !important;float: none !important;}
/* footer css end */