<section class="full-width services-banner services">
    <figure>
        <img src="assets/images/banner.jpg" alt="about" title="about">        
    </figure>
    <div class="container">
        <div class="row">
            <div class="full-width service-content">
                <!-- <form>
                    <div class="form-group">
                      <input type="text" class="form-control" id="search" placeholder="Search for shop">
                    </div>
                    <i class="fas fa-search"></i>
                </form> -->
            </div>
        </div>
    </div>
</section>

<section class="full-width who-are-we">
    <div class="container">
        <div class="row">
            <div class="full-width">
                <h2 class="center">Why Arree Beta</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
        </div>
    </div>
</section>

<!-- services start -->
<section class="full-width services-list">
    <div class="container">
        <div class="row">
            <div class="full-width">
                <h2 class="center">List of services</h2>
            </div>
            <div class="row">
                <div class="full-width">
                    <div class="col-sm-12 col-md-4 service-section">
                        <div class="wrapper full-width">
                            <div class="full-width services-info center">
                                <div class="hover-effect full-width">
                                    <figure>
                                        <img src="assets/images/drop.jpg" alt="pick-and-drop" title="pick-and-drop">
                                    </figure>
                                    <div class="hover-display">
                                        <span>Pick and Drop</span>
                                    </div>
                                </div>

                                <a routerLink='/location'>Create task</a>


                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 service-section">
                        <div class="wrapper full-width">
                            <div class="full-width services-info center">
                                <div class="hover-effect full-width">
                                    <figure>
                                        <img src="assets/images/groceries.jpg" alt="groceries" title="groceries">
                                    </figure>
                                    <div class="hover-display">
                                        <span>Groceries</span>
                                    </div>
                                </div>
                                <a routerLink="/groceries">
                                    Order Now   
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 service-section">
                        <div class="wrapper full-width">
                            <div class="full-width services-info center">
                                <div class="hover-effect full-width">
                                    <figure>
                                        <img src="assets/images/restaurant.jpg" alt="restaurant" title="restaurant">
                                    </figure>
                                    <div class="hover-display">
                                        <span>Food from restaurant</span>
                                    </div>
                                </div>
                                <a routerLink="/foodfromresturant">
                                    Order Now
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 service-section">
                        <div class="wrapper full-width">
                            <div class="full-width services-info center">
                                <div class="hover-effect full-width">
                                    <figure>
                                        <img src="assets/images/medicine.jpg" alt="medicine" title="medicine">
                                    </figure>
                                    <div class="hover-display">
                                        <span>Medicare</span>
                                    </div>
                                </div>
                                <a routerLink="/medicine">
                                    Order Now
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 service-section">
                        <div class="wrapper full-width">
                            <div class="full-width services-info center">
                                <div class="hover-effect full-width">
                                    <figure>
                                        <img src="assets/images/non-veg.jpg" alt="non-veg" title="non-veg">
                                    </figure>
                                    <div class="hover-display">
                                        <span>Non-Veg</span>
                                    </div>
                                </div>
                                <a routerLink="/nonveg">
                                    Order Now
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 service-section">
                        <div class="wrapper full-width">
                            <div class="full-width services-info center">
                                <div class="hover-effect full-width">
                                    <figure>
                                        <img src="assets/images/gift1.jpg" alt="gift" title="gift">
                                    </figure>
                                    <div class="hover-display">
                                        <span>Gift</span>
                                    </div>
                                </div>
                                <a routerLink="/gifts">
                                    Order Now
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 service-section">
                        <div class="wrapper full-width">
                            <div class="full-width services-info center">
                                <div class="hover-effect full-width">
                                    <figure>
                                        <img src="assets/images/LAUNDARY.jpg" alt="laundaru" title="laundaru">
                                    </figure>
                                    <div class="hover-display">
                                        <span>LAUNDARY AND DRY CLEAN</span>
                                    </div>
                                </div>
                                <a routerLink="/laundry">
                                    GO FOR IT
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 service-section">
                        <div class="wrapper full-width">
                            <div class="full-width services-info center">
                                <div class="hover-effect full-width">
                                    <figure>
                                        <img src="assets/images/gift.jpg" alt="xerox" title="xerox">
                                    </figure>
                                    <div class="hover-display">
                                        <span>XEROX AND FLEX PRINTING</span>
                                    </div>
                                </div>
                                <a routerLink="/xerox">
                                    GO FOR IT
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- services end -->
