<section class="full-width services-banner services">
    <figure>
        <img src="assets/images/aboutbanner.jpg" alt="about" title="about">        
    </figure>
    <div class="container">
        <div class="row">
            <div class="full-width service-content">
                <!-- <form>
                    <div class="form-group">
                      <input type="text" class="form-control" id="search" placeholder="Search for shop">
                    </div>
                    <i class="fas fa-search"></i>
                </form> -->
            </div>
        </div>
    </div>
</section>

<section class="full-width who-are-we">
    <div class="container">
        <div class="row">
            <div class="full-width">
                <h2 class="center">Contact us</h2>
                <p>Address- xyx</p>
                <p>Contact number - 6202824886</p>
                <p>Email - gaurav.kumarcsk@gmail.com</p>
                <p>xyz - xyz</p>
                <p>abc - abc</p>
            </div>
        </div>
    </div>
</section>
<div class="col-sm-12 col-md-6">
    <div class="full-width why-us-image">
        <figure>
            <img src="assets/images/why-us.jpg" alt="why-us" title="why-us">
        </figure>
    </div>
</div>