<section class="full-width location">
    <div class="container">
        <div class="row">
            <div class="full-width">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-8">
                        <div class="full-width enter-location">
                            <h3>Send packages in Richmond Town, Bangalore</h3>
                            <p>Your on demand local courier</p>
                            <form>
                                <div class="form-group full-width">
                                    <label for="location">Pick Up Address<span>*</span></label>
                                    <div class="full-width form-element">
                                        <input type="text" class="form-control" id="location" placeholder="Search pickup location">
                                        <i class="fas fa-search"></i>
                                    </div>
                                    <div class="full-width contact-info">
                                        <div class="contact-wrapper">
                                            <label for="Contact no">Contact Number</label>
                                            <div class="full-width form-element">
                                                <input type="number" class="form-control" id="Contact no" placeholder="Contact no">
                                            </div>
                                        </div>
                                        <div class="contact-wrapper">
                                            <label for="Contact name">Contact Name</label>
                                            <div class="full-width form-element">
                                                <input type="text" class="form-control" id="Contact name" placeholder="Contact name">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group full-width">
                                    <label for="location2">Delivery Address<span>*</span></label>
                                    <div class="form-element full-width">
                                        <input type="text" class="form-control" id="location2" placeholder="Search drop location">
                                        <i class="fas fa-search"></i>
                                    </div>
                                </div>
                                <div class="form-group full-width delivery-notes">
                                    <input type="text" class="form-control" id="instruction" placeholder="Any instructions? e.g., 'leave delivery with security'">
                                </div>
                                <div class="full-width terms">
                                    <p>By confirming I accept this order doesn’t contain illegal/resticted items, if illegal/restricted items are found by Dunzo Partner, they may report it to the law enforcement authorities. <a href="javascript:void(0)">Terms and Conditions</a></p>
                                </div>
                                <div class="full-width confirm-btn">
                                    <a href="javascript:void(0)">
                                        Confirm Order
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <div class="full-width enter-location rules">
                            <h5>Some do's & dont's</h5>
                            <p><span>No Purchases -</span>Delivery partner would not be able to make any purchase</p>
                            <p><span>No Purchases -</span>Delivery partner would not be able to make any purchase</p>
                            <p><span>No Purchases -</span>Delivery partner would not be able to make any purchase</p>
                            <p><span>No Purchases -</span>Delivery partner would not be able to make any purchase</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>