/*Reset css start*/
ul{list-style-type: none;padding: 0;margin: 0;text-decoration: none;}
a{text-decoration: none;}
i{font-style: normal;}
h1,h2,h3,h4,h5,h6,body,p,input,span,form,header,figure,label,strong,bold{margin: 0;font-weight: normal;}
*{box-sizing: border-box;-webkit-box-sizing: border-box;-o-box-sizing: border-box;-moz-box-sizing: border-box;}
img{max-width: 100%;width: 100%;}
body{font-family: 'OpenSans-Regular';}
::-webkit-input-placeholder {opacity: 1; } ::-moz-placeholder {opacity: 1; } :-ms-input-placeholder {opacity: 1; } :-moz-placeholder {opacity: 1;}
::-webkit-input-placeholder {color: #5c5c5f;} ::-moz-placeholder {color: #5c5c5f;} :-ms-input-placeholder {color: #5c5c5f;} :-moz-placeholder {color: #5c5c5f;}
::-webkit-textarea-placeholder{font-size: 18px;}
input[type="email"]::-webkit-input-placeholder{color: #5c5c5f;}
input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration {display: none; }
button[type="submit"]::-webkit-input-placeholder{color: #5c5c5f;}
address{font-style: normal;}
select {-webkit-appearance: none; -moz-appearance: none; appearance: none;}
option {font-weight: normal; display: block; white-space: pre; min-height: 1.2em; padding: 0px 2px 1px; }
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover,.btn-default:hover{background-color: #fff !important;}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{outline: transparent;box-shadow: none;}
.btn-default:hover{border: none;background-color: transparent !important;padding: 0 !important;}
select:focus{box-shadow: none;}
/*Reset css end*/

/* common css start */
    .full-width{float: left;width: 100%;}
    h4{float: left;width: 100%;font-family: 'Nunito', sans-serif;font-size: 25px;line-height: 30px;font-weight: 500;margin-bottom: 20px;border-bottom: 1px solid #ccc;padding-bottom: 20px;}
    h5{float: left;width: 100%;font-family: 'Nunito', sans-serif;font-weight: 700;font-size: 15px;line-height: 25px;margin-bottom: 10px;}
/* common css end */

/* form css start */
    .laundry-section{padding-top: 71px;padding: 111px 0 40px 0;}
    .auto-width{width: 800px;display: inline-block;}
    .form-section{float: none;display: inline-block;text-align: center;margin: 0 auto;}
    .place-order{text-align: left;}
    .date-time{float: left;width: 49%;margin-right: 16px;}
    .date-time:last-child{margin-right: 0;}
    .select-services{margin-bottom: 20px;}
    .service-list,.date,.time{float: left;width: 100%;padding: 10px 20px;font-size: 14px;line-height: 18px;height: 40px;box-shadow: none;}
    select:focus{border-color: #ccc;}
/* form css end */