<section class="full-width laundry-section">
    <div class="container">
        <div class="row">
            <div class="full-width form-section">
                <div class="auto-width">
                    <div class="full-width place-order">
                        <h4>Place Order</h4>
                        <div class="select-services full-width">
                            <h5>Select Services</h5>
                            <select class="form-control service-list">
                                <option>Select Service</option>
                                <option>Steam Ironing</option>
                                <option>Wash & Fold (Kg Basis)</option>
                                <option>Wash & Iron (Kg Basis)</option>
                                <option>Premium Laundry</option>
                                <option>Dry Cleaning</option>
                            </select>
                        </div>
                        <div class="full-width">
                            <div class="select-services date-time">
                                <h5>Select pickup Date</h5>
                                <select class="form-control date">
                                    <option>March 12</option>
                                    <option>March 13</option>
                                    <option>March 14</option>
                                    <option>March 15</option>
                                    <option>March 16</option>
                                </select>
                            </div>
                            <div class="select-services date-time">
                                <h5>Select pickup Time</h5>
                                <select class="form-control time">
                                    <option>10:00 am</option>
                                    <option>11:00 am</option>
                                    <option>3:00 am</option>
                                    <option>4:00 am</option>
                                    <option>5:00 am</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>