<!-- <p>GAURAV HOME WORKS</p> -->
<section class="banner full-width">
    <figure>
        <img src="assets/images/banner2.jpg" alt="banner" title="banner">
        
    </figure>
    <div class="container">
        <div class="row">
            <div class="home-page-banner-content full-width flex center">
                <h1>Many needs, one app</h1>
                <h3>Groceries, food, or pet supplies? Get it dun!</h3>
                <div class="full-width center margin-bottom">
                    <form class="navbar-form navbar-left form-elenent">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search ">
                        </div>      
                        <a routerLink='/location' class="submit-btn">Procees</a>
                    </form>
                </div>
                <div class="full-width">
                    <div class="row">
                        <div class="col-sm-12 col-md-3">
                            <div class="center full-width">
                                <div class="full-width site-info center">
                                    <i class="fas fa-mobile"></i>
                                    <span>24/7 Delivery</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-3">
                            <div class="center full-width">
                                <div class="full-width site-info center">
                                    <i class="fas fa-hotel"></i>
                                    <span>2500 Restaurants</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-3">
                            <div class="center full-width">
                                <div class="full-width site-info center">
                                    <i class="fas fa-mobile"></i>
                                    <span>Order with app</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-3">
                            <div class="center full-width">
                                <div class="full-width site-info center">
                                    <i class="fas fa-truck"></i>
                                    <span>Fast delivery</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>              
            </div>            
        </div>
    </div>
</section>
<!-- /*Tell us your work*/ -->
<!-- <section  class="full-width Get-in-touch padding">
    <div class="container">
        <div class="row">
        
            <h2 class="title-margin">Tell us your work</h2>
            <div class="form-section full-width">
                <div class="full-width">
                    <div class="full-width">
                        <figure class="pick-up-img">
                            <img src="assets/images/pick-up.jpg" alt="pick-up" title="pick-up">
                        </figure>
                        <button class="pick-up-btn">Pick Up And Drop</button>
                        <i class="fab fa-500px"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</section> -->

<!-- tell us ur work end -->

<!-- services start -->
    <section class="full-width services">
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="full-width">
                        <div class="col-sm-12 col-md-4 service-section">
                            <div class="wrapper full-width">
                                <div class="full-width services-info center">
                                    <div class="hover-effect full-width">
                                        <figure>
                                            <img src="assets/images/drop.jpg" alt="pick-and-drop" title="pick-and-drop">
                                        </figure>
                                        <div class="hover-display">
                                            <span>Pick and Drop</span>
                                        </div>
                                    </div>
                                    <a routerLink="/pickanddrop">
                                        Create task
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 service-section">
                            <div class="wrapper full-width">
                                <div class="full-width services-info center">
                                    <div class="hover-effect full-width">
                                        <figure>
                                            <img src="assets/images/groceries.jpg" alt="groceries" title="groceries">
                                        </figure>
                                        <div class="hover-display">
                                            <span>Groceries</span>
                                        </div>
                                    </div>
                                    <a routerLink="/groceries">
                                        Order Now   
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 service-section">
                            <div class="wrapper full-width">
                                <div class="full-width services-info center">
                                    <div class="hover-effect full-width">
                                        <figure>
                                            <img src="assets/images/restaurant.jpg" alt="restaurant" title="restaurant">
                                        </figure>
                                        <div class="hover-display">
                                            <span>Food from restaurant</span>
                                        </div>
                                    </div>
                                    <a routerLink="/foodfromresturant">
                                        Order Now
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 service-section">
                            <div class="wrapper full-width">
                                <div class="full-width services-info center">
                                    <div class="hover-effect full-width">
                                        <figure>
                                            <img src="assets/images/medicine.jpg" alt="medicine" title="medicine">
                                        </figure>
                                        <div class="hover-display">
                                            <span>Medicare</span>
                                        </div>
                                    </div>
                                    <a routerLink="/medicine">
                                        Order Now
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 service-section">
                            <div class="wrapper full-width">
                                <div class="full-width services-info center">
                                    <div class="hover-effect full-width">
                                        <figure>
                                            <img src="assets/images/non-veg.jpg" alt="non-veg" title="non-veg">
                                        </figure>
                                        <div class="hover-display">
                                            <span>Non-Veg</span>
                                        </div>
                                    </div>
                                    <a routerLink="/nonveg">
                                        Order Now
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 service-section">
                            <div class="wrapper full-width">
                                <div class="full-width services-info center">
                                    <div class="hover-effect full-width">
                                        <figure>
                                            <img src="assets/images/gift.jpg" alt="gift" title="gift">
                                        </figure>
                                        <div class="hover-display">
                                            <span>Gift</span>
                                        </div>
                                    </div>
                                    <a routerLink="/gifts">
                                        Order Now
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- services end -->

<!-- why arre beta start -->
    <section class="why-us full-width margin-top">
        <div class="container">
            <div class="row">
                <div class="full-width">
                    <h2 class="center">Why Arree Beta</h2>
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="full-width">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="full-width why-us-image">
                                <figure>
                                    <img src="assets/images/why-us.jpg" alt="why-us" title="why-us">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- why arre beta end -->

<!-- our qualities start -->
    <section class="quality full-width margin-top">
        <div class="container">
            <div class="row">
                <div class="full-width">
                    <h2 class="center">Our Quality</h2>
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="full-width our-quality">
                                <div class="our-quality-image">
                                    <figure>
                                        <img src="assets/images/our-quality.jpg" alt="our-quality" title="our-quality">
                                    </figure>
                                </div>
                                <div class="content">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="full-width our-quality">
                                <div class="our-quality-image">
                                    <figure>
                                        <img src="assets/images/our-quality.jpg" alt="our-quality" title="our-quality">
                                    </figure>
                                </div>
                                <div class="content">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="full-width our-quality">
                                <div class="our-quality-image">
                                    <figure>
                                        <img src="assets/images/our-quality.jpg" alt="our-quality" title="our-quality">
                                    </figure>
                                </div>
                                <div class="content">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="full-width our-quality">
                                <div class="our-quality-image">
                                    <figure>
                                        <img src="assets/images/our-quality.jpg" alt="our-quality" title="our-quality">
                                    </figure>
                                </div>
                                <div class="content">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- our qualities end -->