    /*Reset css start*/
ul{list-style-type: none;padding: 0;margin: 0;text-decoration: none;}
a{text-decoration: none;}
i{font-style: normal;}
h1,h2,h3,h4,h5,h6,body,p,input,span,form,header,figure,label,strong,bold{margin: 0;font-weight: normal;}
*{box-sizing: border-box;-webkit-box-sizing: border-box;-o-box-sizing: border-box;-moz-box-sizing: border-box;}
img{max-width: 100%;width: 100%;}
body{font-family: 'OpenSans-Regular';}
::-webkit-input-placeholder {opacity: 1; } ::-moz-placeholder {opacity: 1; } :-ms-input-placeholder {opacity: 1; } :-moz-placeholder {opacity: 1;}
::-webkit-input-placeholder {color: #5c5c5f;} ::-moz-placeholder {color: #5c5c5f;} :-ms-input-placeholder {color: #5c5c5f;} :-moz-placeholder {color: #5c5c5f;}
::-webkit-textarea-placeholder{font-size: 18px;}
input[type="email"]::-webkit-input-placeholder{color: #5c5c5f;}
input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration {display: none; }
button[type="submit"]::-webkit-input-placeholder{color: #5c5c5f;}
address{font-style: normal;}
select {-webkit-appearance: none; -moz-appearance: none; appearance: none;}
option {font-weight: normal; display: block; white-space: pre; min-height: 1.2em; padding: 0px 2px 1px; }
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover,.btn-default:hover{background-color: #fff !important;}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{outline: transparent;box-shadow: none;}
/*Reset css end*/

/* common css start */
    .full-width{float: left;width: 100%;}
    .center{text-align: center;}
    i{font-family: fontawesome;}
    .margin-bottom{margin-bottom: 50px;}
    .site-info:hover i,.site-info:hover span,.site-info,.service-section .services-info:hover .hover-effect .hover-display span{transition: all 0.4s ease-in-out;-webkit-transition: all 0.4s ease-in-out;-moz-transition: all 0.4s ease-in-out;-o-transition: all 0.4s ease-in-out;-ms-transition: all 0.4s ease-in-out;}
/* common css end */

    .banner {min-height:550px;position: relative;display: flex;flex-wrap: wrap;padding-top: 70px;}
    .banner figure{float: left; width: 100%; position: absolute; top: 0; left: 0; bottom: 0; right: 0; margin: auto; width: 100%; height: 100%; object-fit: cover; }
    .banner figure img{width: 100%; height: 100%; object-fit: cover; }
    .home-page-banner-content{width: 100%; position: relative; align-items: center;padding: 90px 0;z-index: 111;}
    .home-page-banner-content h1{float: left;width: 100%;font-size: 60px;color: #fff;text-align: center;line-height: 90px;font-family: 'Nunito', sans-serif;font-weight: 900;}
    .home-page-banner-content h5 strong{float: left;width: 100%;font-size: 40px;color: #d0d310}
    .home-page-banner-content h3 strong{float: left;width: 100%;font-size: 40px;color: #f5ecec}
    .home-page-banner-content h3{margin-top: 0px;text-align: center;font-size: 40px;color: #fff;margin-bottom: 60px;line-height: 60px;font-family: 'Nunito', sans-serif;font-weight: 700;}
    .form-elenent{width: 100%;float: left;}
    .form-elenent .form-control{width: 400px;height: 40px;border: none;padding: 0 30px;font-size: 14px;}
    .flex{display: flex;flex-wrap: wrap;align-content: center;justify-content: center;}
    .submit-btn{color: #fff;
        display: inline-block;
        padding: 9px 41px;
        background-color: green;
        border-radius: 5px;
        font-size: 14px;
        margin-left: 7px;
        }
        
        /* .h2{font-size: 100px} */
        .pick-up-img{float: left;width: 50%;height: 100%;}
        .pick-up-img img{float: left;width: 100%;height: 100%;}
        .pick-up-btn{float: right;border: none;padding: 30px 20px;}
        .site-info i{display: inline-block;vertical-align: middle;font-size: 42px;line-height: 34px;color: #fff;margin-right: 18px;}
        .site-info span{color: #fff;display: inline-block;vertical-align: middle;font-size: 13px;line-height: 26px;width: auto;}
        .site-info span{font-family: 'Nunito', sans-serif;font-weight: 500;}
        .site-info:hover i{color: #000;}
        .site-info:hover span{color: #000;}

        /* services css start */
        .wrapper{text-align: center;display: block;overflow: hidden;}
        .services{margin-top: 60px;}
        .services-info{margin-bottom: 30px;width: 270px;float: none;display: inline-block;}
        .services-info figure{float: left;width: 100%;height: 100%;margin-bottom: 10px;display: block;overflow: hidden;}
        .services-info figure img{float: none;width: 270px;height: 290px;display: inline-block;}
        .services-info a{display: inline-block;width: auto;padding: 10px 50px;border: 1px solid #fff;background-color: #d0d310;color: #fff;border-radius: 25px;font-family: 'Nunito', sans-serif;font-weight: 900;font-size: 14px;line-height: 17px;}
        .hover-effect{position: relative;}
        .hover-display{position: absolute;top: 0;left: 0;right: 0;bottom: 0;display: flex;flex-wrap: wrap;justify-content: center;align-items: center;width: 100%;}
        .hover-display span{float: left;padding: 20px 30px;background-color: #fff;font-size: 12px;line-height: 18px;opacity: 0;}
        .service-section .services-info:hover .hover-effect .hover-display span{opacity: 1;}
        .services-info figure img{transform: scale(1) translate3d(0, 0, 0);transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);}
        .service-section .services-info:hover figure img{transform: scale(1.1) translate3d(0, 0, 0);}
        .site-info{width: 110px;height: 110px;display: flex;flex-wrap: wrap;justify-content: center;align-items: center;background-color: #fff;border-radius: 50%;padding: 20px 10px;max-width: 100%;float: none;display: inline-block;-moz-box-shadow: 11px 11px 11px rgba(68, 68, 68, 0.6);-webkit-box-shadow: 11px 11px 11px rgba(68, 68, 68, 0.6);box-shadow: 11px 11px 11px rgba(68, 68, 68, 0.6);}
        .site-info i{float: left;width: 100%;text-align: center;color: #000;margin: 0;margin-bottom: 10px;}
        .site-info span{float: left;width: 100%;color: #000;}
        .site-info:hover{background-color: #0757a2;}
        .site-info:hover i{color: #fff;}
        .site-info:hover span{color: #fff;}
        /* services css end */