<!-- <section class="services full-width">
    <div class="container">
        <div class="row">
            <div class="full-width">
                <form>
                    <div class="form-group">
                      <input type="text" class="form-control" id="search" placeholder="Shearch for shop">
                    </div>
                    <i class="fas fa-search"></i>
                </form>
            </div>
        </div>
    </div>
</section> -->

<section class="full-width services-banner services">
    <figure>
        <img src="assets/images/groceries.jpg" alt="groceries" title="groceries">        
    </figure>
    <div class="container">
        <div class="row">
            <div class="full-width service-content">
                <form>
                    <div class="form-group">
                      <input type="text" class="form-control" id="search" placeholder="Search for shop">
                    </div>
                    <i class="fas fa-search"></i>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="full-width shop-list">
    <div class="container">
        <div class="row">
            <div class="full-width">
                <div class="row">
                    <div class="full-width">
                      <div class="col-sm-12 col-md-3">
                          <div class="full-width groceries-name">
                            <figure>
                                <img src="assets/images/reliancefresh.jpg" alt="store-image" title="store-image">
                            </figure>
                            <div class="contact-detail full-width">
                                <p>Reliance Fresh</p>
                                <address>RRL Fresh, Vindyaachal Singh Gautam Complex, Sati Ghat Rd, Bhatia Basti, Kadma, Jamshedpur, Jharkhand 831001</address>
                                <a href="javascript:void(0)" class="contact-dealer">Contact Dealer</a>
                            </div>
                          </div>
                      </div>
                      <div class="col-sm-12 col-md-3">
                        <div class="full-width groceries-name">
                          <figure>
                              <img src="assets/images/reliancefresh1.jpg" alt="store-image" title="store-image">
                          </figure>
                            <div class="contact-detail full-width">
                                <p>Reliance Fresh</p>
                                <address>RRL Fresh, Vindyaachal Singh Gautam Complex, Sati Ghat Rd, Bhatia Basti, Kadma, Jamshedpur, Jharkhand 831001</address>
                                <a href="javascript:void(0)" class="contact-dealer">Contact Dealer</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <div class="full-width groceries-name">
                          <figure>
                              <img src="assets/images/reliancefresh.jpg" alt="store-image" title="store-image">
                          </figure>
                            <div class="contact-detail full-width">
                                <p>Reliance Fresh</p>
                                <address>RRL Fresh, Vindyaachal Singh Gautam Complex, Sati Ghat Rd, Bhatia Basti, Kadma, Jamshedpur, Jharkhand 831001</address>
                                <a href="javascript:void(0)" class="contact-dealer">Contact Dealer</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <div class="full-width groceries-name">
                          <figure>
                              <img src="assets/images/reliancefresh1.jpg" alt="store-image" title="store-image">
                          </figure>
                            <div class="contact-detail full-width">
                                <p>Reliance Fresh</p>
                                <address>RRL Fresh, Vindyaachal Singh Gautam Complex, Sati Ghat Rd, Bhatia Basti, Kadma, Jamshedpur, Jharkhand 831001</address>
                                <a href="javascript:void(0)" class="contact-dealer">Contact Dealer</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <div class="full-width groceries-name">
                          <figure>
                              <img src="assets/images/reliancefresh.jpg" alt="store-image" title="store-image">
                          </figure>
                            <div class="contact-detail full-width">
                                <p>Reliance Fresh</p>
                                <address>RRL Fresh, Vindyaachal Singh Gautam Complex, Sati Ghat Rd, Bhatia Basti, Kadma, Jamshedpur, Jharkhand 831001</address>
                                <a href="javascript:void(0)" class="contact-dealer">Contact Dealer</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <div class="full-width groceries-name">
                          <figure>
                              <img src="assets/images/reliancefresh1.jpg" alt="store-image" title="store-image">
                          </figure>
                            <div class="contact-detail full-width">
                                <p>Reliance Fresh</p>
                                <address>RRL Fresh, Vindyaachal Singh Gautam Complex, Sati Ghat Rd, Bhatia Basti, Kadma, Jamshedpur, Jharkhand 831001</address>
                                <a href="javascript:void(0)" class="contact-dealer">Contact Dealer</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <div class="full-width groceries-name">
                          <figure>
                              <img src="assets/images/reliancefresh.jpg" alt="store-image" title="store-image">
                          </figure>
                            <div class="contact-detail full-width">
                                <p>Reliance Fresh</p>
                                <address>RRL Fresh, Vindyaachal Singh Gautam Complex, Sati Ghat Rd, Bhatia Basti, Kadma, Jamshedpur, Jharkhand 831001</address>
                                <a href="javascript:void(0)" class="contact-dealer">Contact Dealer</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <div class="full-width groceries-name">
                          <figure>
                              <img src="assets/images/reliancefresh1.jpg" alt="store-image" title="store-image">
                          </figure>
                            <div class="contact-detail full-width">
                                <p>Reliance Fresh</p>
                                <address>RRL Fresh, Vindyaachal Singh Gautam Complex, Sati Ghat Rd, Bhatia Basti, Kadma, Jamshedpur, Jharkhand 831001</address>
                                <a href="javascript:void(0)" class="contact-dealer">Contact Dealer</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <div class="full-width groceries-name">
                          <figure>
                              <img src="assets/images/reliancefresh.jpg" alt="store-image" title="store-image">
                          </figure>
                            <div class="contact-detail full-width">
                                <p>Reliance Fresh</p>
                                <address>RRL Fresh, Vindyaachal Singh Gautam Complex, Sati Ghat Rd, Bhatia Basti, Kadma, Jamshedpur, Jharkhand 831001</address>
                                <a href="javascript:void(0)" class="contact-dealer">Contact Dealer</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <div class="full-width groceries-name">
                          <figure>
                              <img src="assets/images/reliancefresh1.jpg" alt="store-image" title="store-image">
                          </figure>
                            <div class="contact-detail full-width">
                                <p>Reliance Fresh</p>
                                <address>RRL Fresh, Vindyaachal Singh Gautam Complex, Sati Ghat Rd, Bhatia Basti, Kadma, Jamshedpur, Jharkhand 831001</address>
                                <a href="javascript:void(0)" class="contact-dealer">Contact Dealer</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <div class="full-width groceries-name">
                          <figure>
                              <img src="assets/images/reliancefresh.jpg" alt="store-image" title="store-image">
                          </figure>
                            <div class="contact-detail full-width">
                                <p>Reliance Fresh</p>
                                <address>RRL Fresh, Vindyaachal Singh Gautam Complex, Sati Ghat Rd, Bhatia Basti, Kadma, Jamshedpur, Jharkhand 831001</address>
                                <a href="javascript:void(0)" class="contact-dealer">Contact Dealer</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <div class="full-width groceries-name">
                          <figure>
                              <img src="assets/images/reliancefresh1.jpg" alt="store-image" title="store-image">
                          </figure>
                            <div class="contact-detail full-width">
                                <p>Reliance Fresh</p>
                                <address>RRL Fresh, Vindyaachal Singh Gautam Complex, Sati Ghat Rd, Bhatia Basti, Kadma, Jamshedpur, Jharkhand 831001</address>
                                <a href="javascript:void(0)" class="contact-dealer">Contact Dealer</a>
                            </div>
                        </div>
                    </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="full-width services-banner">
    <figure>
        <img src="assets/images/groceries1.jpg" alt="groceries" title="groceries">        
    </figure>
    <div class="container">
        <div class="row">
            <div class="full-width service-content contact-info-2">
                <i _ngcontent-bov-c30="" class="fas fa-phone"></i>
                <a _ngcontent-bov-c30="" href="tel:6202824886">6202824886</a>
            </div>
        </div>
    </div>
</section>